@import url('normalize.css');
$text: #adb1ba;
$lightText: #f0f0f0;
$primaryCyan: hsl(179, 62%, 43%);
$primaryYellow: hsl(71, 73%, 54%);
$secondaryCyan: #2bb3b1;
$neutralGray: hsl(204, 43%, 93%);
$neutralBlue: hsl(218, 22%, 67%);
$fontSize: 16px;
$fontFamily: 'Karla', sans-serif;
$fontLight: 400;
$fontBold: 700;
$boxShadow: 5px 5px 20px 0px rgba(0,0,0,0.19);

body {
  background-color: $neutralGray;
  font-family: $fontFamily;
  font-weight: $fontLight;
  min-height: calc(100vh - 8em);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 4em;
  @media (min-width: 768px) {
    padding: 2em;
    min-height: calc(100vh - 4em);
  }
}

h2, h3 {
  font-weight: $fontBold;
}

.bg-white {
  background-color: white;
  color: $neutralBlue;
}
.bg-darker {
  background-color: darken($secondaryCyan, 5%);
  color: $lightText;
}
.bg-dark {
  background-color: $primaryCyan;
  color: $lightText;
}
.text-cyan {
  color: $primaryCyan;
}
.text-yellow {
  color: $primaryYellow;
}
.button {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 2em;
  background: $primaryYellow;
  color: white;
  padding: 1rem 0;
  width: 100%;
  border-radius: 4px;
  box-shadow: $boxShadow;
  transition: all .2s ease;
  &:hover {
    background: darken($primaryYellow, 7.5%);
    box-shadow: none;
    transition: all .2s ease;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  li {
    opacity: .6;
  }
}

.container {
  box-shadow: $boxShadow;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  width: 90%;
  border-radius: 8px;
  @media (min-width: 768px) {
    width: 60vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .6fr 1fr;
  }
  .item {
    padding: 1.5em 1em;
    @media (min-width: 768px) {
      padding-left: 2em;
      padding-right: 2em;
    }
    &:first-of-type {
      border-radius: 4px 4px 0px 0px;
      @media (min-width: 768px) {
        grid-column: span 2;
      }
    }
    &:nth-of-type(2) {
      @media (min-width: 768px) {
        border-radius: 0px 0px 0px 4px;
        grid-column: span 1;
      }
    }
    &:last-of-type {
      border-radius: 0px 0px 4px 4px;
      @media (min-width: 768px) {
        border-radius: 0px 0px 4px 0px;
        grid-column: span 1;
      }
    }
  }
}

.price {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  h3 {
    margin: 0;
  }
  span {
    opacity: .8;
    font-size: .5em;
    margin-left: 1em;
  }
}